html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* !Main */
body {
  font-family: "Lexend Deca", sans-serif;
}

.homeFooter {
  background-color: #232340;
  margin-top: 100px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  height: 500px;
}

.leftContainer {
  flex: 1;
  padding: 73px 0px 253px 140px;
}

.rightContainer {
  flex: 1.5;
  display: flex;
  justify-content: space-between;
}

.rightContainer h4 {
  color: #5468e7;
  margin-bottom: 16px;
}

.rightContainer ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rightContainer ul li {
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 1%;
}

.company {
  margin: 95px 85px 266px 130px;
}

.features {
  margin: 95px 63px 231px 0px;
}

.concactUs {
  margin: 94px 61px 245px 0px;
}

.stayUp {
  margin: 94px 139px 280px 0px;
}

.homeFooter {
  font-size: 14px;
}
